body{
    margin: 0;
    text-align: center;
    background-color: #A9A8A9;
}

h1{
    text-align: center;
}

img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
}

a{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.highlighted-text {
    color: #A9A8A9;
}
header {
    background-color: #5A5377;
    height: 20vh;
}