body{
    margin: 0;
    text-align: center;
    background-color: #A9A8A9;
}

h1{
    text-align: center;
    margin: 0;
    position: relative;
    top: 60px;
    font-size: 50px;
    font-weight: bold;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0; 
    height: 350px;
    z-index: 10;
}
.right-side {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 180px;
}
a{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.highlighted-text {
    color: #A9A8A9;
}
header {
    background-color: #5A5377;
    height: 20vh;
    position: relative;
    width: 100%;
}

